html {
  background-color: #00539f;
}


body {
        width: 900px;
        margin: 0 auto;
        background-color: #ff9500;
        padding: 0 20px 20px 20px;
        border: 10px solid black;
        font-family: 'Tangerine', serif;
        font-size: 48px;
        
}
h1 {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  width: 600px;
  margin: 0 auto;
  border: 2px solid #561570;
  border-radius: 8px;
}